h2{
  color: #121212;
  text-align: center;
}

h3{
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  text-align: center;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4{
  color: #121212;
  text-align: center;
}

